body {
    font-family: "Tajawal";
    text-align: center;
    background: #f7f7f7;
}

/*Title Section*/
#navbar {
    text-align: left;
}

.notification-container {
    width: 45px;
    display: inline-block;
    border-radius: 50px;
    background: #f7f7f7;
    height: 45px;
    margin: 0 10px;
    text-align: center;
    color: cornflowerblue;
}

.user-profile-img {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

#navbar .small-heading {
    display: inline;
}

.small-heading {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
}


#navbar .container-fluid {
    padding: 3% 5%;
    text-align: right;
}

/*----------videos-css------------*/

#navbar .card {
    border-radius: 0px;
    border: none;
}

.video-title {
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.video-description {
    padding: 0.75rem 1.25rem;
    line-height: 1.5;
}

.video-container {
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.video-container .main-video {
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.video-container .main-video iframe {
    width: 100%;
    border-radius: 5px;
}

.video-container .main-video .video-title {
    color: #000;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}

.video-container .main-video .video-description {
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}

.video-list {
    background: white;
    border-radius: 5px;
    height: 450px;
    overflow-y: scroll;
}

.video-list::-webkit-scrollbar {
    width: 7px;
}

.video-list::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 50px;
}

.video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;
}


.video-list .vid iframe {
    width: 150px;
    height: 100px;
    border-radius: 5px;
}


.video-container .video-list .vid {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0.1);
    cursor: pointer;
}

.video-container .video-list .vid.active {
    background: #2980b9;
}

.video-container .video-list .vid.active .video-title {
    color: #fff;
}

.video-container .video-list .vid .video-title {
    color: #000;
    font-size: 17px;
}

#navbar .num-of-videos {
    font-size: 1rem;
    display: block;
    color: #727272;
    margin: 0px;
}

#navbar .card-header {
    background: #F7F9FA;
}

#navbar .card-header:first-child {
    border: none;
}

#navbar .card-body {
    padding: 0rem 1.25rem;
}

.dropdown-icon {
    float: left;
    font-size: 24px;
}

@media (max-width: 991px) {
    .video-container {
        grid-template-columns:1.5fr 1fr;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .video-container {
        grid-template-columns:1fr;
    }

    div.col-lg-5.col-md-4{
        position: absolute;
        top: 800px;
    }
}